/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-image: url("assets/images/john-cameron.jpg");
background-color: #cccccc;
background-repeat: no-repeat;
  background-origin: content-box;
  background-position-x: center;
width: 100%;
overflow-y: hidden;}

.mat-form-field{
width: 100%;
display: block;
}
.mat-card-header-text {
    margin: 0 auto!important;
    text-align: center;
}
.mat-card-header {
    flex-direction: column!important;
display: block!important;
text-align: center;
}
.mat-radio-button {

  margin-right: 10px;
}
.mat-grid-tile-content {
  display: block!important;
}
.mat-grid-tile {
  width: 300px!important;
  padding: 20px!important;
  height: 80px!important;
  margin: 30px!important;
}
.error {
  color: #f44336;
  margin-top: 2px;
  margin-bottom: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
.position-relative {
  position: relative;
}