.header{
  width: 200px;
  display: inline-block;
}
.table-container{
  max-height: 400px;
  overflow-y: auto; 
}

.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-id {
    width: 32px;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-username {
    padding-left: 16px;
    /* font-size: 16px; */
  }
  .mat-column-demo-createdAt {
    padding-left: 16px;
    /* font-size: 16px; */
  }
  /* .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  } */
  .signout-btn {
    text-align: right;
    justify-items:right;
    align-items: right;
  }
  .edit-btn{
    margin-left: 10px;
    background-color: #fb6400;
    color:  #FFFFFF;
  }

  .mat-icons{
    font-size: 18px;
    justify-content: space-between;
    color: grey;
  }

  [fontIcon|="edit"] {
   margin-left: 1rem;
  }
